# find -iname  *.h -o -iname *.cpp ! -iname some_specific.cpp | xargs clang-format -i -style=file
BasedOnStyle: LLVM
IndentWidth: 4
#BreakBeforeBraces: Custom
#BraceWrapping:
#  AfterClass:      true
#  AfterFunction:   true
PointerAlignment: Left
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false
SpaceBeforeInheritanceColon: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
# PackConstructorInitializers: PCIS_Never
Standard: Cpp03
